# Python

**pycache**/
*.pyc
venv/

# React Native / Expo

node_modules/
.expo/

# Android

android/.gradle/
android/app/build/

# iOS

ios/build/

# Environment

.env

# VS Code

.vscode/

# OS files

.DS_Store

# Logs

*.log

